{% extends 'base.html.twig' %}

{% block title %}À propos{% endblock %}

{% block body %}
<div class="container text-center h-50 d-flex align-items-center justify-content-center">
    <p>
        Lina's Home est un site de vente de meuble pour la maison. <br>
        Notre objectif est de donner de l'inspiration et de l'envie aux personnes souhaitant redécorer ou tou simplement aménager leur logement.
    </p>
</div>
{% endblock %}
