*, ::before, ::after, ul {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

img{
    max-width: 100%;
}

/* NAVBAR */
.logo{
    width: 50%;
}

.nav-link i {
    top: 30px;
    right: 560px;
}

.nav-link form {
    margin-left: -60px;
    margin-right: 40px;
}

/* i.bi-person {
    margin-bottom: 80px;
} */

/* .nav .nav-links li {
    margin: 0 25px;
} */


/* FIN NAVBAR */

/* MAIN */

.btn-group button{
    background-color: #92735F;
}

.btn-group button:hover{
    background-color: #D7CBBB;
}

/* .background{
    background-image: url(../img/articles/salon-colore.jpg);
    background-size: cover;   
} */





/* FIN MAIN */

/* FOOTER */

footer{
    background-color: #92735F;
}

/* footer img{
    width: 20%;
} */

/* FIN FOOTER */