<section class="container">
    <article class="d-flex justify-content-between">
      <!-- LOGO -->
      <figure class="col-lg-3 flex-column">
        <img class="pt-2" src="{{ asset('assets/img/logo/linashome_short.svg') }}" alt="" />
  
        <!-- RESEAUX SOCIAUX -->
        <ul class="d-flex fs-4 ps-2 py-1">
          <li>
            <a href="https://fr-fr.facebook.com/" class="text-white"><i class="bi bi-facebook me-4"></i></a>
          </li>
          <li>
            <a href="https://www.instagram.com/" class="text-white"><i class="bi bi-instagram me-4"></i></a>
          </li>
          <li>
            <a href="https://www.pinterest.fr/" class="text-white"><i class="bi bi-pinterest me-4"></i></a>
          </li>
          <li>
            <a href="https://twitter.com/?lang=fr" class="text-white"><i class="bi bi-twitter me-4"></i></a>
          </li>
          <li>
            <a href="https://www.youtube.com/" class="text-white"><i class="bi bi-youtube me-4"></i></a>
          </li>
        </ul>
      </figure>
  
      <div class="col-lg-3 py-5">
        <h3 class="ms-4">Services</h3>
        <ul>
          <li>
            <a href="#" class="text-white link-underline link-underline-opacity-0"
              >Livraison</a
            >
          </li>
          <li>
            <a href="#" class="text-white link-underline link-underline-opacity-0"
              >Montage</a
            >
          </li>
          <li>
            <a href="#" class="text-white link-underline link-underline-opacity-0"
              >Installation</a
            >
          </li>
          <li>
            <a href="#" class="text-white link-underline link-underline-opacity-0"
              >Garanties</a
            >
          </li>
          <li>
            <a href="#" class="text-white link-underline link-underline-opacity-0"
              >Conditions retour</a
            >
          </li>
          <li>
            <a href="#" class="text-white link-underline link-underline-opacity-0"
              >Financement</a
            >
          </li>
        </ul>
      </div>
  
      <div class="col-lg-3 py-5">
        <h3 class="ms-4">Besoin d'aide</h3>
        <ul>
          <li>
            <a href="#" class="text-white link-underline link-underline-opacity-0"
              >Conseils et astuces</a
            >
          </li>
          <li>
            <a href="#" class="text-white link-underline link-underline-opacity-0"
              >Guides d'achat</a
            >
          </li>
          <li>
            <a href="#" class="text-white link-underline link-underline-opacity-0"
              >Questions / Réponses</a
            >
          </li>
          <li>
            <a href="#" class="text-white link-underline link-underline-opacity-0"
              >Contactez-nous</a
            >
          </li>
          <li>
            <a href="#" class="text-white link-underline link-underline-opacity-0"
              >Suivi de commande</a
            >
          </li>
          <li>
            <a href="#" class="text-white link-underline link-underline-opacity-0"
              >Demande de facture</a
            >
          </li>
          <li>
            <a href="#" class="text-white link-underline link-underline-opacity-0"
              >Outils de conception</a
            >
          </li>
        </ul>
      </div>
  
      <div class="col-lg-3 py-5">
        <h3 class="ms-4">Lina's Home</h3>
        <ul>
          <li>
            <a href="#" class="text-white link-underline link-underline-opacity-0"
              >Travaillez chez nous</a
            >
          </li>
          <li>
            <a href="#" class="text-white link-underline link-underline-opacity-0"
              >Développement durable</a
            >
          </li>
          <li>
            <a href="#" class="text-white link-underline link-underline-opacity-0"
              >Votre avis nous intéresse</a
            >
          </li>
        </ul>
      </div>
    </article>
  
    <div class="btn btn-group col-lg-12 justify-content-end">
      <button class="border border-1 rounded-2 p-1 text-white">
        <i class="bi bi-globe me-2"></i>
        <span>Changer de langue</span>
      </button>
    </div>
  
    <hr />
  
    <div class="container-fluid flex-column">
      <ul class="list-unstyled d-flex row small">
        <li class="col-lg-3">
          <i class="bi bi-c-circle"></i><span class="ms-1">Lina's Home 2023</span>
        </li>
        <li class="col-lg-3">
          <a href="#" class="text-white link-underline link-underline-opacity-0"
            >Documents juridiques et informations légales</a
          >
        </li>
        <li class="col-lg-3">
          <a href="#" class="text-white link-underline link-underline-opacity-0"
            >Charte de protection des données</a
          >
        </li>
        <li class="col-lg-3">
          <a href="#" class="text-white link-underline link-underline-opacity-0"
            >Politique relative aux cookies</a
          >
        </li>
      </ul>
  
      <ul class="list-unstyled d-flex row small">
        <li class="col-lg-3">
          <a href="#" class="text-white link-underline link-underline-opacity-0"
            >Paramètres des cookies</a
          >
        </li>
        <li class="col-lg-3">
          <a href="#" class="text-white link-underline link-underline-opacity-0"
            >Mentions légales</a
          >
        </li>
        <li class="col-lg-3">
          <a href="#" class="text-white link-underline link-underline-opacity-0"
            >Alertes fraude</a
          >
        </li>
        <li class="col-lg-3">
          <a href="#" class="text-white link-underline link-underline-opacity-0"
            >Rappel produit</a
          >
        </li>
      </ul>
    </div>
  </section>
  